* {
  font-weight: 500;
}
.product-card: {
  width: 270p;
  height: 365px;
  background: #fff;
  box-shadow: 0px 5px 20px rgba(86, 86, 86, 0.05);
  border-radius: 10px;
}
,
.product-view: {
  position: relative;
  width: 250px;
  height: 250px;
  background: #fff;
  border: 1px solid #ebebe;
  box-sizin: border-bo;
  border-radius: 5p;
}
,
.product-number: {
  position: absolute;
  width: 62px;
  height: 30px;
  right: 0;
  top: 0;

  background: #fff;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 0px 5px;
}

#app {
  font-family: 'Montserrat', sans-serif;

  --h00: 34px;
  --h0: 16px;
  --h1: 14px;
  --h2: 12px;

  --h3: 12px;
  --h4: 11px;
  --h5: 10px;
  --h6: 9px;

  --border-width: 1px;
  --border-radius: 3px;

  --width-1: 24px;
  --width-2: 32px;
  --width-3: 48px;
  --width-4: 64px;

  --z1: 1;
  --z2: 2;
  --z3: 3;
  --z4: 4;

  --line-height-1: 1em;
  --line-height-2: 1.125em;
  --line-height-3: 1.25em;
  --line-height-4: 1.5em;
  --caps-letter-spacing: 0.2em;
  --bold-font-weight: bold;

  --space-1: 5px;
  --space-2: 6px;
  --space-3: 10px;
  --space-4: 30px;

  --active-bg-color: #70d24e;
  --active-color: #fff;
  --control-unactive-color: #d8d8d8;

}
.pr-1 {
  padding-right: -4px;
}
.pr-2 {
  padding-right: calc(0 - var(--space-2));
}
.pr-3 {
  padding-right: calc(0 - var(--space-3));
}
.pr-4 {
  padding-right: calc(0 - var(--space-4));
}
.control-frame {
  height: 40px;
  border: 1px solid var(--control-unactive-color);
  background-color: var(--active-color);
  box-sizing: border-box;
  border-radius: 5px;
}
.control-frame:focus {
  outline: 2px solid var(--control-unactive-color) !important;
}
.checked {
  background-color: var(--active-bg-color);
  color: var(--active-color);
  border: none;
}
h1 {
  font-size: 34px !important;
  font-weight: 600 !important;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}
.pointer {
  cursor: pointer;
}

::-webkit-scrollbar-button {
  /* background-image:url(''); */
  background-repeat:no-repeat;
  width: 8px;
  height: 0px
}

::-webkit-scrollbar-track {
  background-color: #f8f8f8
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color:#2c323a1f;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #2c323a3f;
}

::-webkit-resizer{
  /* background-image: url(''); */
  background-repeat: no-repeat;
  width: 8px;
  height: 0px
}

::-webkit-scrollbar{
  width: 8px;
}
